# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://xvucakstcmtfoanmgcql.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2dWNha3N0Y210Zm9hbm1nY3FsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjczMjI0NjUsImV4cCI6MjA4Mjg5ODQ2NX0.7Uh38WHaPfrgp9lxX-BG7PXehR_-2ETG4cyQ55YfD-o
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inh2dWNha3N0Y210Zm9hbm1nY3FsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzMyMjQ2NSwiZXhwIjoyMDgyODk4NDY1fQ.7WFGFGxTkSurehfwGNVPS2qzNf9toM3bO1GLaLClEwg
NEXT_PUBLIC_AUTOPILOT_ORG_ID=211e1330-ad83-446d-941f-dcea48396798
